<p>
  <mat-toolbar color="primary">
    <a [routerLink]="['/']" mat-icon-button>
      <mat-icon>home</mat-icon>
    </a>
    <span>StudyOffline</span>
    <span class="spacer"></span>
    <a [routerLink]="['/help']" mat-icon-button>
      <mat-icon>help</mat-icon>
    </a>
    <a [routerLink]="['/download']" mat-icon-button>
      <mat-icon>download</mat-icon>
    </a>
    <a [routerLink]="['/settings']" mat-icon-button>
      <mat-icon>settings</mat-icon>
    </a>
    <a (click)="openLogoutDialog()" *ngIf="isLoggedIn" mat-icon-button>
      <mat-icon>exit_to_app</mat-icon>
    </a>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
