<div class="container">
  <mat-form-field appearance="fill" class="coursePicker">
    <mat-label>Select course</mat-label>
    <mat-select
      [(value)]="subjectId"
      (selectionChange)="switchSubject(subjectId)"
    >
      <mat-option *ngFor="let subject of subjects" [value]="subject.id">
        {{ subject.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="tagPicker">
    <mat-label>
      Filter tags ({{ selectedTagIds.length }}/{{ tags.length }} selected)
    </mat-label>
    <mat-select [formControl]="tagControl" multiple>
      <mat-option *ngFor="let tag of tags" [value]="tag.studySmarterId">
        {{ tag.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="pb-1">
    <mat-chip-list>
      <mat-chip *ngFor="let tag of flashcardTags">
        {{ tag.name }}
      </mat-chip>
    </mat-chip-list>
  </div>

  <app-flashcard
    [flashcard]="flashcard"
    (switchCard)="switchCard($event)"
  ></app-flashcard>
</div>
