<div class="container">

  <div class="content">
    <mat-card >
      <h1 class="mat-headline">Select subjects for download!</h1>
      <div class="spacer-2x"></div>
      <form [formGroup]="subjectForm" (ngSubmit)="downloadSubjects()">
        <section class="subject-selection">

          <mat-list>
            <div mat-subheader>Active Subjects</div>
            <mat-list-item *ngFor="let subject of activeSubjects">
              <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
              <div mat-line>
                <span [matBadge]="subject.flashcards"
                      matBadgeOverlap="false">
                      <mat-checkbox color="primary" class="subject-selection-item">
                        {{ subject.name }}
                      </mat-checkbox>
                  </span>
              </div>
              <div mat-line>
                <p>Last used: {{ subject.last_used | date }}</p>
              </div>
            </mat-list-item>

            <mat-divider></mat-divider>

            <div mat-subheader>Archived Subjects</div>
            <mat-list-item *ngFor="let subject of archivedSubjects">
              <div mat-line>
                <span [matBadge]="subject.flashcards"
                      matBadgeOverlap="false">
                      <mat-checkbox color="primary" class="subject-selection-item">
                        {{ subject.name }}
                      </mat-checkbox>
                  </span>
              </div>
              <div mat-line>
                <p>Last used: {{ subject.last_used | date }}</p>
              </div>
            </mat-list-item>
          </mat-list>


          <!-- <span [matBadge]="subjects[i].flashcards" matBadgeOverlap="false"
            formArrayName="subjects"
            *ngFor="let sb of subjectBoxes.controls; let i = index"
          >
            <mat-checkbox
              [formControlName]="i"
              color="primary"
              class="subject-selection-item"
            >
              {{ subjects[i].name }}&nbsp;
            </mat-checkbox>
            <br />
          </span> -->
        </section>
        <div class="spacer"></div>
        <div *ngIf="!!progress" id="loader">
          <mat-progress-bar
            mode="determinate"
            class="full-width"
            [value]="progress"
          ></mat-progress-bar>
          <div class="spacer"></div>
        </div>
        <button mat-raised-button class="full-width" color="primary">
          Download
        </button>
      </form>
    </mat-card>
  </div>
</div>
